__pycache__/
*.pyc
.env
.pytest_cache/
.ruff_cache/
*.egg-info/
.venv/
venv/
storage/bronze/*
!storage/bronze/.gitkeep
storage/silver/*
!storage/silver/.gitkeep
storage/gold/*
!storage/gold/.gitkeep
output/*
!output/.gitkeep
